# Proprietary Source Code (Strictly Kept Local)
*.py
main.py
requirements.txt

# Build & packaging artifacts
dist/
dist_v2/
build/
builds/
*.spec

# Runtime files
settings.json
nanoopt_activity.log
*.log

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE & Editor files
.vscode/
.idea/
*.swp
*.bak
